<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">

  <span>
    <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
    Arjeca
  </span>

  <span class="fill-remaining-space"></span>

  <button mat-button routerLink="/login">
    <mat-icon aria-hidden="false">input</mat-icon>
    Login
  </button>

  <button mat-button>
    <mat-icon aria-hidden="false">person_add</mat-icon>
    Register
  </button>

  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">
    <mat-icon aria-hidden="false" class="mdi mdi-logout-variant"></mat-icon>
    Logout
  </button>

</mat-toolbar>