<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p style="text-align: center;">Por favor, entre para continuar.</p>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="Usuário" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Por favor, informe seu usuário
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Senha" formControlName="password" required [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" [matTooltip]="tooltip()">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Por favor, informe sua senha
          </mat-error>
        </mat-form-field>

        <div>
          <mat-checkbox>Lembrar Login</mat-checkbox>
          <a href="" class="alignRight">Esqueceu sua senha?</a>
        </div>

        <button mat-raised-button class="half-width-input" color="primary" style="margin: 10px 5px 0 0"
          routerLink="/register">
          <mat-icon aria-hidden="false">person_add</mat-icon>
          Criar conta
        </button>

        <button mat-raised-button class="half-width-input" color="primary" style="margin-top: 10px;" type="submit">
          <mat-icon aria-hidden="false">input</mat-icon>
          Login
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>