mat-card {
  max-width: 400px;
  margin: 2em auto;
}

.signin-content {
  padding: 150px 1rem;
}

.full-width-input {
  width: 100%;
}

.half-width-input {
  width: 49%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.alignRight {
  margin-left: 8em;
}
